<%- include('../head.ejs') %> 

  <body>
    <div class="holder">
      <!-- header & navbar section -->
      <%- include('../header.ejs') %> 


      <!-- Services section -->
      <%- include('../services.ejs') %> 


      <!-- catering section-->
      <%- include('../catering.ejs') %> 


      <!-- Menu section -->
      <%- include('../menu.ejs') %> 


      <!-- teams section-->
      <%- include('../teams.ejs') %> 


      <!-- footer section -->
      <%- include('../footer.ejs') %> 

    </div>

    <%- include('../scripts.ejs') %> 
  </body>
</html>
